.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #ddb899;
}

.header-container {
    background-color: #ddb899; 
    padding: 10px 30px;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
}

.logo-container i {
    margin-right: 8px;
    color: #5c4033; 
}

.container-navbar {
    background-color: #a9745c; 
    text-align: center; 
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 0;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.menu a:hover {
    text-decoration: underline;
}
.logo {
    font-size: 40px;
    color: black;
}

@media (max-width: 768px) {
    .logo {
        font-size: 32px; 
    }
}

/* Móviles */
@media (max-width: 480px) {
    .logo {
        font-size: 24px; 
    }
    
    .logo-container {
        font-size: 18px;
        padding: 10px 0;
    }
    
    .logo-container i {
        font-size: 20px; 
    }
}

@media (max-width: 360px) {
    .logo {
        font-size: 20px; 
    }
    .header-container{
        width: 100%;
    }
    .logo-container {
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
}