footer {
  background-color: #422D20;
  color: #F8F4EF;
  padding: 40px 5%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  gap: 20px;
  max-width: 1200px;
}

.footer-section {
  flex: 0 0 auto;
  min-width: 200px;
}
.footer-bottom {
  width: 100%;
  text-align: center;
  border-top: 2px solid #5c4033;
}

@media (max-width: 768px) {
  .footer-container {
    gap: 30px;
    padding: 1.5rem 0;
  }
  
  .footer-section {
    min-width: 180px;
  }
}

@media (max-width: 480px) {

  footer {
    padding: 30px 5%;
  }

  .footer-container {
    flex-direction: column;
    padding: 2rem 10%;
    gap: 20px;
    padding: 1rem 0;
  }

  .footer-section{
    flex: none;
    min-width: 100%;
  }
}

@media (max-width: 360px) {
  footer {
    padding: 20px 5%;
  }
  
  .footer-section h4 {
    font-size: 0.9rem;

  }
  
  .footer-section p {
    font-size: 0.9rem;
  }
  
  .footer-bottom p {
    font-size: 0.9rem;
  }
}